.filter {
    .flex(0,0,auto);
    margin-right: 32px;
    padding-top: 16px;
    width: 278px;
}

.filter-block {
    margin-bottom: 32px;
}

.filter-block__title {
    background-image: url('@{images}/arrow-down-primary.svg');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
    padding-right: 18px;
}

.filter-block__item {
    margin-bottom: 16px;
    
    .check {display: inline-block;}
}

.filter-block__item--main {
    font-weight: 700;
}

.filter-block__search {
    background-image: url("@{images}/icon-search.svg");
    background-position: right 16px center;
    background-repeat: no-repeat;
}

.filter-block__count {
    color: #B8B8B8;
    font-weight: 400;
    margin-left: 12px;
}

.filter-block__more {
    color: @primary;
    cursor: pointer;
    display: inline-block;
    text-decoration: underline;
}

.mobile-btn__filter {
    background-image: url('@{images}/icon-filter.svg');
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
    height: 32px;
    width: 32px;
}

.mobile-filter__close {
    background-image: url('@{images}/arrow-left.svg');
    background-repeat: no-repeat;
    cursor: pointer;
    display: none;
    height: 16px;
    margin-bottom: 16px;
}

.section-tag-mobile {
    background-color: #E3E3E3;
    display: none;
    padding-top: 24px;
    padding-bottom: 20px;
}

.tags-catalog__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 12px;
}

.tags-catalog {
    font-size: 0;
    margin: 0 -4px;
}

.tags-catalog__item {
    background-color: #fff;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    margin: 4px;
    padding: 4px 12px;
}